services:
  web:
    container_name: comfyui-n8n-bridge
    image: ucll/comfyui-n8n-bridge
    build:
      context: ./
      dockerfile: Dockerfile

    volumes:
      - /data/comfyui-docker/data_dev/input:/input
      - /data/comfyui-docker/data_dev/output:/output
      - /data/comfyui-docker/data_dev/temp:/temp

    restart: unless-stopped

    ports:
      - 8190:8190

    environment:
      - PORT=8190
      - COMFYUI_HOST=172.20.50.213:8189
      - COMFYUI_INPUT_PATH=/input
      - COMFYUI_OUTPUT_PATH=/output
      - COMFYUI_TEMP_PATH=/temp
      - TEMP_UPLOAD_PATH=/tmp

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8190/status"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
